{{ $action := .action }}
{{ $type := .type }}
{{ if $action.label }}
{{if ne $type "social-icon"}}
<a href="{{ $action.url | relURL }}"
  {{ if $action.new_window }} target="_blank"{{ end }}
  {{ if or $action.new_window $action.no_follow }} rel="{{ if $action.new_window }}noopener {{ end }}{{ if $action.no_follow }}nofollow{{ end }}"{{ end }}
  class="menu-link {{ if ne $type "nav"}}text-xs{{ end }}{{ if ne $action.style "link" }} btn btn-outline{{ end }}{{ if eq $action.style "secondary" }} btn-secondary{{ end }}">{{ $action.label }}</a>
{{ else}}
<a href="{{ $action.url | relURL }}"
  {{ if $action.new_window }} target="_blank"{{ end }}
  {{ if or $action.new_window $action.no_follow }} rel="{{ if $action.new_window }}noopener {{ end }}{{ if $action.no_follow }}nofollow{{ end }}"{{ end }}
  class="menu-link"><span class="social-icon social-icon-{{ $action.size }} social-{{ $action.label }}"></span></a>
{{ end }}
{{ end }}

