{{ $section := .section }}
<section class="full-width-split-screen container container--{{ $section.width }}">
{{ if eq $section.imageposition  "left" }}

  

          {{ partial "responsive/pictures-cwx.html" 
        (dict 
         "src" $section.image
         "alt" $section.image_alt 
         "loading" "lazy"
         "class" "responsive-img"
             "containerWidth" (dict 
             "xlarge" 75
             "large" 75
             "desktop" 75
             "tablet" 75
             "mobile" 100
              )
        ) 
      }}

{{ end }}

<div>
    {{ partial "markdownify-block" $section.content }}
</div>

{{ if eq $section.imageposition  "right" }}  

        {{ partial "responsive/pictures-cwx.html" 
        (dict 
         "src" $section.image
         "alt" $section.image_alt 
         "loading" "lazy"
         "class" "responsive-img right"
             "containerWidth" (dict 
             "xlarge" 75
             "large" 75
             "desktop" 75
             "tablet" 75
             "mobile" 100
              )       ) 
      }}

{{ end }}
  
  

</section>