:root{
--h2-font-family: system-ui;
--h3-font-family: system-ui;
--h2-font-size: 16cqw;
--h3-font-size: 4cqw;
--h2-color: goldenrod;
--h3-color: white;
}
.wfg-bg-cta  {
 container: cta/inline-size;
}
.wfg-bg-cta {
  border-box: none;
  display: grid;
  grid-template: 1fr / 1fr; 
  place-items: center;
  text-align: center;
 
  & .bg-image {
  grid-area: 1 / 1 / -1 / -1; 
  width: 100%;
  height: 100%;
  object-fit: cover;
} 
  & .content {
  grid-area: 1 / 1 / -1 / -1;
}
  & h2{
  font-family: var(--h2-font-family);
  font-size:var(--h2-font-size);
  color: var(--h2-color);
  margin-block: 0rem;
  -webkit-text-stroke: 0.25cqw white;
}

  & h3{
  font-family: var(--h3-font-family);
  font-size: var(--h3-font-size);
  color: var(--h3-color);
  margin-block: 0rem;
  }
  & actions{
    display:block;
    margin: 4cqw;
  }
  & button{
    font-size: 2cqw; 
    background-color: grey;
    color: white;
    border-radius: 3%;
    padding: 2cqw;
  }
  & button:nth-child(2){
    background-color:goldenrod;
    font-size: 4cqw; 
    margin-right: 4cqw;
  }
 }
