:root{
    --hzdcontainerwidth: 100%;
    --hzd-full: 100%/*min(820px,90%)*/;
    --hzd-half: 49.99%/*min(820px,90%)*/;
    --hzd-third: 33.3333%;
    --hzd-quarter: 25%/*min(820px,90%)*/;
    --hzd-fifth: 20%/*min(820px,90%)*/;
    --hzd-tenth:10%;
  }
  logo {
      display: block;
      font-size: 6rem;
      margin: 0 auto;
      width: max-content;
  }
  fliph{
    transform:scale(-1, 1);
    display: inline-block;
    width:fit-content;
  }
  tiltr{
    transform: rotateZ(-45deg);
    display: inline-block;
    width:fit-content;
  }
  logoname{
    display: block;
    font-family:'Courier New', Courier, monospace; 
      font-size: 1rem;
      xletter-spacing: 0.85rem;
      margin: 0 auto;
      width: max-content;
      overflow: hidden;

  }
strapline{
  display: block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;
 font-size: 1rem;
 margin-inline: auto;
 width: max-content;
  }
  .scrollcontainer{
    margin-inline: auto;
    max-width: max(80rem,var(--hzdcontainerwidth));
     
  }
  .hzcontainer{
    display: grid;
    grid-template-columns: 1fr var(--imagewidthmed) 1fr; 
    grid-auto-flow: column;
    grid-gap: 0px;
    max-width: calc(50px+var(--imagewidthmed)+50px);
  }
  .scroller img {
      width: 100%;
  }
  .scroller {
      display: grid;
      grid-auto-columns: var(--imagewidthmed);
      grid-auto-flow: column;
      grid-gap: 0px;
      overflow-x: auto;
      /*scrollbar-color: #fff #fff; /* yellow #000;  #499980 */
      /*max-width: 100%; */
      /*margin: 4rem auto 1rem auto;*/
      cursor: grabbing; 
      scroll-snap-type: x mandatory;
      align-items:center;
  }
  .scroller img{
    scroll-snap-align: start;
  }
  ::-webkit-scrollbar{
    height: 0.5rem;
    background: white;
  }
  ::-webkit-scrollbar-thumb:horizontal{
          background: #fff;
          xxxborder:1px solid #a1887f;
  }

  /* arrow stuff */
  .scrollerarrows{
      margin-inline:auto;
      width: max-content;
      display:flex;
      gap:2rem;
  }
  .scrollerarrow{
      color: #499980;
      font-size: 4rem;
      line-height: 1rem;
      cursor:pointer;
      display:inline-block;
  }
  .scrollerarrows svg{
    width: 3rem;
    height: 3rem;
    margin-inline:1.5rem;
  }
  .scrollerarrows img, arrows svg{
    max-width: 3rem;
    cursor: pointer;
  }
  .scrollerarrows svg:hover{
    fill:green;
    cursor:pointer;
  }

  .scroller .article{
    max-width: 60rem;
    margin: 0 auto;
  }
  .scroller .article p{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.25rem;
  }
  @media (hover: none) {
  .scroller .arrows {
      display: none;
    }
  }

/* Styles for side-positioned arrows */
.hzd-wrapper {
  position: relative;
}

.hzd-wrapper .hzd-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  width: 3rem; /* Example size */
  height: 3rem; /* Example size */
}
.hzd-wrapper .hzd-arrow:hover{
    fill:green;
    cursor:pointer;
}
.hzd-wrapper .hzd-arrow-prev {

}

.hzd-wrapper .hzd-arrow-next {

}
.scroller.is-dragging {
    cursor: grabbing;
    user-select: none;
  }
  [id$='pager'].navbtns {
    text-align: center;
    padding-top: 1rem;
  }
  [id$='pager'].navbtns button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #000;
    background: #fff;
    margin: 0 5px;
    cursor: pointer;
  }
  [id$='pager'].navbtns button:hover, .scroller .navbtns button:hover{
    background: green;
  }

  [id$='pager'].navbtns button.active,  .scroller .navbtns button:hover{
    background: #000;
  }
  @media (max-width: 768px) {
   [id$='pager'].navbtns {
      display: none;
    }
  }
