{{ $section := .section }}
<section class="section section--posts">

  {{ if $section.title }}
  <div class="container container--md align-center">
    <h2 class="section-title">{{ $section.title }}</h2>
  </div>
  {{ end }}

  <div class="container container--lg">
    <div class="grid grid-cols-3 grid-gap-lg">
      {{ $section_author := false }}
      {{ if $section.author }}
        {{ $author_id_kebab := replace (replace $section.author "data/team/" "") ".json" "" }}
        {{ if index site.Data.team $author_id_kebab }}
          {{ $section_author = index site.Data.team $author_id_kebab }}
        {{ end }}
      {{ end }}

      {{ $section_category := false }}
      {{ if $section.category }}
        {{ $category_id := replace (replace $section.category "data/categories/" "") ".json" "" }}
        {{ $category_id = replace $category_id "-" "_" }}
        {{ if index site.Data.categories $category_id }}
          {{ $section_category = index site.Data.categories $category_id }}
        {{ end }}
      {{ end }}

      {{ $posts := where .Site.Pages "Params.layout" "post" }}
      {{ if $section_author }}
        {{ $posts = where $posts "Params.author" "eq" $section_author.id }}
      {{ else if $section_category }}
        {{ $posts = where $posts "Params.categories" "intersect" (slice $section_category.id) }}
      {{ end }}
      {{ $posts_sorted := $posts.ByDate.Reverse }}

      {{ $show_recent := $section.show_recent }}
      {{ $recent_count := $section.recent_count }}
      {{ $post_count := 0 }}

      {{ range $post := $posts_sorted }}
        {{ if and (or (eq $show_recent false) (lt $post_count $recent_count)) }}
          {{ $post_count = add $post_count 1 }}
          {{ $include_dict := dict "blog_feed_section" $section "post_page" $post }}
          {{ partial "blog_post_feed_item.html" $include_dict }}
        {{ end }}
      {{ end }}
    </div>
  </div>

</section>